<div class="container text-center">

    <div class="centro">
        <div>
            <a routerLink="/inicio"> <img src="./assets/img/icons/FinPerLogo.png" class="img-tamano mb-2" alt="Logo FinPer"/> </a>
        </div>
    
        <div>
            <p class="titulo">Error 404</p>
            <p>Lo sentimos, no encontramos la página que buscas.</p>
            <p>Puede que ya no exista o que la URL haya cambiado.</p>
    
            <a routerLink="/inicio" class="volver">Volver al home</a>
        </div>
    </div>

</div>
