<ng-template [ngIf]="muestraPerfil == 1 && user">
    <div class="nombre-usuario text-center">
        {{user.usu_nombre}}
    </div>

    <div class="card mx-auto text-center">
        <div>
            <span class="titulo-perfil">Perfil</span>
        </div>

        <div class="grid-campos">
            <div>
                <span class="titulo-campos">Locación</span><br>
                <span>{{user.res_descripcion}}</span>
            </div>
            <div>
                <span class="titulo-campos">Área de profesión</span><br>
                <span>{{user.pro_descripcion}}</span>
            </div>
            <div>
                <span class="titulo-campos">Edad</span><br>
                <span>{{this.user.edad}}</span>
            </div>
            <div>
                <span class="titulo-campos">Email</span><br>
                <span>{{user.usu_email}}</span>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-outline-primary btn-datos" (click)="editaPerfilFlag()">Editar</button>
        </div>
    </div>

    <div class="card mx-auto mt-4 text-center">
        <div>
            <span class="mb-4 titulo-perfil">Preferencias de la Cuenta</span>
        </div>

        <div class="mt-4 mb-4 grid-botones text-center">
            <div>
                <button type="button" class="btn btn-outline-primary btn-preferencias" (click)="eliminaPerfilFlag()">Eliminar Cuenta</button>
            </div>

            <div>
                <button type="button" class="btn btn-outline-primary btn-preferencias" (click)="cambiarContrasenaFlag()">Cambiar Contraseña</button>
            </div>
        </div>
    </div>

</ng-template>

<ng-template [ngIf]="editaFlag == 1 && parteFormulario==1">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <button class="btn-close mb-4" (click)="volveraPerfil()"> </button> <br>
                <form [formGroup]="forma1" class="login100-form" (ngSubmit)="guardaFormaUno()">
                    <div class="login100-form validate-form text-center">

                        <div class="titulo-editadatos mb-4"> Editar Perfil </div>

                            <div class="wrap-input100 mb-4">
                                <input class="input100" type="text" name="nombre" formControlName="nombre" [(ngModel)]="user.usu_nombre">
                            </div>
                            <small  class="texto-validacion text-center"
                            *ngIf="forma1.controls['nombre'].errors?.['required'] && forma1.controls['nombre'].touched">
                                El nombre es requerido.
                            </small>
                            <small  class="texto-validacion text-center"
                            *ngIf="forma1.controls['nombre'].errors?.['pattern']">
                                El nombre no debe contener caracteres numéricos o especiales.
                            </small>

                            <div class="wrap-input100" >
                                <label for="fnacimiento"></label>
                                <input class="input100" type="text" name="fnacimiento" placeholder="Fecha de Nacimiento" onfocus="(this.type='date')"  formControlName="fnacimiento" [ngModel]="user.usu_fnacimiento | date:'dd/MM/yyyy'">
                            </div>
                            <small  class="texto-validacion text-center"
                            *ngIf="forma1.controls['fnacimiento'].errors?.['required'] && forma1.controls['fnacimiento'].touched">
                                La fecha de nacimiento es requerida.
                            </small>
                            <small  class="texto-validacion text-center" 
                            *ngIf="forma1.controls['fnacimiento'].errors?.['fechaInvalida']">
                                Debes tener entre 15 y 99 años.
                            </small>
                            <br>
                            <div class="wrap-input100" >
                                <select class="input100" name="residencia" formControlName="residencia" >
                                    <option value="">Lugar de Residencia</option>
                                    <option *ngFor="let pais of paises" value="{{pais.res_id}}" [disabled]="pais.res_id != 13" [selected]="pais.res_id==13">{{pais.res_descripcion}}</option>
                                </select>
                            </div>
                            <small  class="texto-validacion text-center"
                            *ngIf="forma1.controls['residencia'].errors?.['required'] && forma1.controls['residencia'].touched">
                                La residencia es requerida.
                            </small>
                            <br>

                            <div class="wrap-input100" >
                              <select class="wrap-input100" name="modoingreso" formControlName="modoingreso">
                                <option value="">Modo de ingresos</option>
                                <option value={{ingreso.ming_id}} *ngFor="let ingreso of ingresos" [selected]="ingreso.ming_id == user.usu_idmoding" >
                                  {{ingreso.ming_descripcion}}
                                </option>
                              </select>
                            </div>
                            <small  class="texto-validacion text-center"
                            *ngIf="forma1.controls['modoingreso'].errors?.['required'] && forma1.controls['modoingreso'].touched">
                                Debe seleccionar un modo de ingreso.
                            </small>
                            <br>
                            <div class="wrap-input100" >
                              <select class="input100"  name="profesion" formControlName="profesion">
                                <option value="">Área de Profesión</option>
                                <option value="{{profesion.pro_id}}" *ngFor="let profesion of profesiones" [selected]="profesion.pro_id == user.usu_idprofesion">
                                    {{profesion.pro_descripcion}}</option>
                              </select>
                          </div>
                          <small  class="texto-validacion text-center" 
                            *ngIf="forma1.controls['profesion'].errors?.['required'] && forma1.controls['profesion'].touched">
                                Debe seleccionar una profesion.
                            </small>
                          <br>
                            <div class="container-login100-form-btn">
                                <button class="btn btn-light btn-lg action-button btngreen" [disabled]="forma1.invalid">
                                    Continuar
                                </button>
                            </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="editaFlag == 1 && muestraMensajeFlag==1">
    <div class="limiter" *ngIf="muestraMensajeFlag==1">
        <div class="container-login100">
            <div class="wrap-login100 text-center">

                <div class="login100-form validate-form text-center mt-3">
                    <div>
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="68" height="68" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M9 12l2 2l4 -4" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">Se han actualizado los datos de tu perfil correctamente.</p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-light btn-lg action-button btngreen" (click)="volveraPerfil()">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="eliminaFlag == 1">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 text-center">

                <div class="login100-form validate-form text-center mt-3">
                    <div>
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="4" y1="7" x2="20" y2="7" />
                                <line x1="10" y1="11" x2="10" y2="17" />
                                <line x1="14" y1="11" x2="14" y2="17" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje texto-label mt-2">Estás por eliminar tu cuenta</p>
                            <p class="texto-mensaje">Considera que perderás el acceso a tu perfil y se eliminarán todos los datos.</p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-light btn-lg action-button btn-eliminar" (click)="eliminarPerfil()">
                            Eliminar
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-light btn-lg action-button btngreen" (click)="volveraPerfil()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="cambiaContrasenaFlag == 1">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <button class="btn-close mb-4" (click)="volveraPerfil()"> </button> <br>
                <form [formGroup]="forma" class="login100-form" (ngSubmit)="cambiarContrasena()">
                    <div class="login100-form validate-form text-center">

                        <div class="titulo-cambiacontrasena mb-3"> Cambiar Contraseña </div>

                        <div class="wrap-input100 mt-2">
                            <input class="input100 input-margin" type="email" name="email" placeholder="Email" formControlName="email" readonly [(ngModel)]="user.usu_email">
                        </div><br>

                        <div class="wrap-input100">
                            <input class="input100 input-margin" type="password" name="pwd" placeholder="Nueva contraseña" formControlName="contrasenaNueva">
                        </div>
                        <small  class="texto-validacion text-center"
                        *ngIf="forma.controls['contrasenaNueva'].errors?.['required'] && forma.controls['contrasenaNueva'].touched">
                            La contraseña nueva es requerida.
                        </small><br>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasenaNueva'].errors?.['pattern']">
                            La contraseña debe tener al menos una mayúscula y un número.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasenaNueva'].errors?.['minLength(8)']">
                            La contraseña debe tener al menos 8 caracteres.
                        </small>

                        <div class="wrap-input100 mt-1">
                            <input class="input100 input-margin" type="password" name="pwdconfirm" placeholder="Confirme nueva contraseña" formControlName="contrasenaConfirm">
                        </div>
                        <small  class="texto-validacion text-center"
                        *ngIf="forma.controls['contrasenaConfirm'].errors?.['required'] && forma.controls['contrasenaConfirm'].touched">
                            La confirmación de contraseña es requerida.
                        </small>
                        <small  class="texto-validacion text-center"
                        *ngIf="forma.errors?.['contrasenasIguales']">
                            Las contraseñas no coinciden.
                        </small><br>

                        <div class="container-login100-form-btn">
                            <button class="btn btn-light btn-lg action-button btngreen" [disabled]="forma.invalid">
                                Cambiar
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="muestraMensajeContrasenaFlag==1">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 text-center">

                <div class="login100-form validate-form text-center mt-3">
                    <div>
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="68" height="68" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M9 12l2 2l4 -4" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">Se ha modificado tu contraseña correctamente.</p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-light btn-lg action-button btngreen" (click)="volveraPerfil()">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


