<ng-template [ngIf]="muestraPerfil == 1">
    <div class="nombre-usuario text-center">
        {{usuario.nombre}}
    </div>

    <div class="card mx-auto text-center">
        <div>
            <span class="titulo-perfil">Perfil</span>
        </div>

        <div class="grid-campos">
            <div>
                <span class="titulo-campos">Locación</span><br>
                <span>Argentina</span>
            </div>
            <div>
                <span class="titulo-campos">Profesión</span><br>
                <span>Estudiante</span>
            </div>
            <div>
                <span class="titulo-campos">Edad</span><br>
                <span>25</span>
            </div>
            <div>
                <span class="titulo-campos">Email</span><br>
                <span>maga@mail.com</span>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-outline-primary btn-datos" (click)="editaPerfilFlag()">Editar</button>
        </div>
    </div>

    <div class="card mx-auto mt-4 text-center">
        <div>
            <span class="mb-4 titulo-perfil">Preferencias de la Cuenta</span>
        </div>

        <div class="mt-4 mb-4 grid-botones">
            <div>
                <button type="button" class="btn btn-outline-primary btn-preferencias" (click)="eliminaPerfilFlag()">Eliminar Cuenta</button>
            </div>
    
            <div>
                <button type="button" class="btn btn-outline-primary btn-preferencias">Cambiar Contraseña</button>
            </div>
    
            <div>
                <button type="button" class="btn btn-outline-primary btn-preferencias">Resetear Balance</button>
            </div>
        </div>
    </div>

</ng-template>

<ng-template [ngIf]="editaFlag == 1">
    <app-edita-datos></app-edita-datos>
</ng-template>

<ng-template [ngIf]="eliminaFlag == 1">
    <app-elimina-datos></app-elimina-datos>
</ng-template>