<div>
    <div class="nombre-usuario text-center">
        {{nombre}}
    </div>

    <div class="card mx-auto text-center">
        <div>
            <span class="titulo-perfil">Perfil</span>
        </div>

        <div class="grid-campos">
            <div>
                <span class="titulo-campos">Locación</span><br>
                <span>Argentina</span>
            </div>
            <div>
                <span class="titulo-campos">Profesión</span><br>
                <span>Estudiante</span>
            </div>
            <div>
                <span class="titulo-campos">Edad</span><br>
                <span>25</span>
            </div>
            <div>
                <span class="titulo-campos">Email</span><br>
                <span>maga@mail.com</span>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-outline-primary btn-datos">Editar</button>
        </div>
    </div>

    <div class="card mx-auto mt-4 text-center">
        <div>
            <span class="mb-4 titulo-perfil">Preferencias de la Cuenta</span>
        </div>

        <div class="mt-4 mb-4 grid-botones">
            <div>
                <button type="button" class="btn btn-outline-primary btn-preferencias">Eliminar Cuenta</button>
            </div>
    
            <div>
                <button type="button" class="btn btn-outline-primary btn-preferencias">Cambiar Contraseña</button>
            </div>
    
            <div>
                <button type="button" class="btn btn-outline-primary btn-preferencias">Resetear Balance</button>
            </div>
        </div>
    </div>

</div>