<div class="container">
  
  <div class="dash-sup flex">
    <div class="dash-sup__left">
      <div class="dash-sup__title mt-2">
        <span class="titulo">Mis Cuentas</span>

        <select name="" id="">
          <option value="1">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marco</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6" selected>Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>

      <div class="dash-sup__balance">
        <div class="balance-title">Balance</div>
        <div class="balance-cantidad">$ {{ balance }} </div>
      </div>
    </div>

    <div class="dash-sup__right ">
      <div>
        <a class="f-right" routerLink="/ultimosmovimientos" >Mis Últimos Movimientos</a>
      </div>
    </div>

  </div>


  <div class="ingreso-egreso flex justify-content-between">
    <div class="card-fp card-ingresos p-4 ">
      <div class="card-left">
        <div class="card-sup">
          <div class="card-title" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="fa-solid fa-square-dollar"></i>
            <i class="fa-solid fa-circle-dollar"></i>Ingresos
          </div>
          <div class="card-balance" >$ {{ ingreso }}</div>
        </div>
      </div>
      <div class="card-right">
        <div class="plus"   data-bs-toggle="modal" href="#exampleModalToggle" role="button" (click)="modalIngreso()">+</div>
      </div>
    </div>
    <div class="card-fp card-egresos  p-4">
        <div class="card-left">
          <div class="card-sup">
            <div class="card-title"><i class="fa-solid fa-square-dollar"></i>
              <i class="fa-solid fa-circle-dollar"></i>Egresos
            </div>
            <div class="card-balance">$ {{ egreso }}</div>
          </div>
        </div>
        <div class="card-right">
          <div class="plus"  data-bs-toggle="modal" href="#exampleModalToggle" role="button" (click)="modalEgreso()">
            +
          </div>
        </div>
      </div>
  </div>

</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content contenido__modal">
      <div class="modal-header"
      [ngClass]="
      {
        'color-ingreso': tituloModal == 'Ingresos',
        'color-egreso': tituloModal == 'Egresos'
      }
      ">
        <div class="modal-title">
          {{ tituloModal }}
        </div>
        <div class="monto">
          <input class="monto-input" type="number" name="" id="" min="0" placeholder="0" [(ngModel)]="monto">
        </div>

      </div>

      <div class="calculadora">
        <div class="flex">
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(7)">7</div>
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(8)">8</div>
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(9)">9</div>
          <div class="calculadora-btn calculadora-signo">%</div>
        </div>
        <div class="flex">
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(4)">4</div>
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(5)">5</div>
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(6)">6</div>
          <div class="calculadora-btn calculadora-signo" >x</div>
        </div>
        <div class="flex">
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(1)">1</div>
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(2)">2</div>
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(3)">3</div>
          <div class="calculadora-btn calculadora-signo">-</div>
        </div>
        <div class="flex">
          <div class="calculadora-btn calculadora-numero" (click)="agregaNumero(0)">0</div>
          <div class="calculadora-btn calculadora-numero">.</div>
          <div class="calculadora-btn calculadora-signo">=</div>
          <div class="calculadora-btn calculadora-signo">+</div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="nuevoIngreso(tituloModal)">Continuar</button>
      </div>


    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hide this modal and show the first with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
      </div>
    </div>
  </div>
</div>

