*{
  font-family: 'Poppins', sans-serif;
}

.bg{
  background-image: url('/assets/img/fondo.png');
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo{
  color: #419f3e;
  font-size: 45px;
  font-weight: 630;
  letter-spacing: 2px;
}

.balance-titulo{
  color: #1c6a1ab9;
  font-size: 35px;
  font-weight: 530;
  letter-spacing: 2px;
}

.balance-cantidad{
  color: #1c6a1ab9;
  font-size: 30px;
  font-weight: 530;
  letter-spacing: 1px;
}

.subbalance-titulo{
  color: #1c6a1ab9;
  font-size: 20px;
  font-weight: 530;
  letter-spacing: 2px;
}

.subbalance-cantidad{
  color: #1c6a1ab9;
  font-size: 20px;
  font-weight: 530;
  letter-spacing: 1px;
}

.card{
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 35px;
  display: inline-block;
  justify-content: space-between;
  width: 99%;
  height: 99%;
}

.card-titulo{
  font-size: 30px;
  font-weight: 530;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.ingreso{
  color: #3fd22f
}

.egreso{
  color: rgba(255, 0, 0, 0.903);
}

.ahorro{
  color: #F7D501;
  margin-top: 20px;
}

.ultmov{
  color: #419f3e;
}

.card-cantidad{
  font-size: 25px;
  font-weight: 530;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.btn-nuevoingreso{
  border-color:#3fd22f;
  color: #3fd22f;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.btn-nuevoingreso:hover{
  background-color:#3fd22f;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.btn-nuevoegreso{
  border-color:rgba(255, 0, 0, 0.903);
  color: rgba(255, 0, 0, 0.903);
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.btn-nuevoegreso:hover{
  background-color:rgba(255, 0, 0, 0.903);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.btn-irahorro:hover{
  border-color:#F7D501;
  color: #F7D501;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
}

.btn-irahorro{
  background-color:#F7D501;
  border-color:#F7D501;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.btn-irultmov{
  border-color:#419f3e;
  color:#419f3e;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.btn-irultmov:hover{
  background-color:#419f3e;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.btn-detalleingreso{
  border-bottom-color:#3fd22f;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  color: #3fd22f;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
}

.btn-detalleingreso:hover, .btn-detalleegreso:hover{
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

.btn-detalleegreso{
  border-bottom-color:rgba(255, 0, 0, 0.903);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  color: rgba(255, 0, 0, 0.903);
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
}

.misultmov{
  color: #1c6a1ab9;
  font-size: 25px;
  font-weight: 530;
  letter-spacing: 2px;
  text-decoration: none;
  margin-top: 3rem;
}

/*FORMULARIOS*/
.btn-close{
  background-color: transparent;
  color: white;
  float: left;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: calc(100vh - 126px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fbfafaa9;
}

.wrap-login100 {
  //width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 40px 33px 40px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

select.form{
  border:none;
  color: #757575;
  font-size:16px;
  padding:10px 0;
  background-color: transparent;
  text-align: center;
  width:300px;
  text-align: left;
}

input{
    font-size:16px;
    padding:10px 10px 10px 5px;
    display: inline;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}

.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.btn-act{
  position: relative;
  left: 0%;
}

.btngreen{
  background-color: #3fd22f;
  color: white;
  font-size: 15px;
  border-radius: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 10px;
  width: 40%;
  position: relative;
  margin-top: 10px;
}

.btngreendelete{
  background-color: transparent;
  border-color: #3fd22f;
  color: #3fd22f;
  font-size: 15px;
  border-radius: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 10px;
  width: 40%;
  position: relative;
  margin-top: 10px;
}

.btnred{
  background-color: rgba(255, 0, 0, 0.903) !important;
  border-color: rgba(255, 0, 0, 0.903) !important;
  color: white !important;
  font-size: 15px;
  border-radius: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 10px;
  width: 40%;
  position: relative !important;
  margin-top: 10px !important;
}

.btnreddelete{
  background-color: transparent !important;
  border-color: rgba(255, 0, 0, 0.903) !important;
  color: rgba(255, 0, 0, 0.903) !important;
  font-size: 15px;
  border-radius: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 10px;
  width: 40%;
  position: relative !important;
  margin-top: 10px !important;
}

.texto-mensaje{
  font-size: 18px;
}

.texto-validacion{
  color: red;
  font-weight: 400;
  font-size: small;
}

.btn-msjlight{
  border-color:#419f3e;
  background-color: transparent;
  color: #419f3e;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 450;
  border-radius: 25px;
  /*margin-bottom: 10px;
  margin-top: 4rem;*/
}

.card-detalle{
  font-size: 27px;
  font-weight: 530;
  //letter-spacing: 1px;
  margin-bottom: 1rem;
}

.table-hover{
  cursor: pointer;
}

.btn-msjdark{
  background-color:#419f3e;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  /*margin-bottom: 10px;
  margin-top: 4rem;*/
}

.position-grafico{
  position: relative;
  left: 23%;
}

.form-detalles{
  width: auto !important;
}

.chart-container{
  position: relative;
  width: 350px;
  height: 350px;
}

.container-cards{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto auto;
}

.containercards-column1{
  width: 50%;
}

.containercards-column2{
  width: 50%;
}

.containercard-item1{
  height: 60%;
}

.containercard-item2{
  height: 40%;
}

.containercard-item3{
  height: 35%;
}

.containercard-item4{
  height: 35%;
}

.containercard-item5{
  height: 30%;
}

.aling-center{
  line-height: 35px;
  padding-left: 20%;
  padding-right: 20%;
}

.cardahorro-mensaje{
  border-radius: 10px;
  color:#F7D501;
  font-size: large;
  background-color: #f3e8a366;
  margin-top: 15px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
}

.texto-grafico{
  padding-top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* RESPONSIVE */
@media (min-width: 480px) and (max-width: 768px) {
  .container-cards {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    justify-content: center;
  }

  .containercards-column1{
    width: 90%;
  }
  
  .containercards-column2{
    width: 90%;
  }

  .cardahorro-mensaje{
    font-size: 16px;
  }

  .chart-container{
    position: relative;
    right: 70px;
    width: 300px;
    //height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-cards {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto;
    //justify-content: center;
  }

  .containercard-item1{
    width: 100%;
  }

  .cardahorro-mensaje{
    font-size: 16px;
    //display: none;
  }

  .chart-container{
    position: relative;
    right: 70px;
    width: 300px;
    height: 300px;
  }

  .ultmov{
    font-size: 22px;
  }

  .texto-grafico{
    margin-top: 20%;
  }
}