<div class="bg">
  <div class="container pt-4" *ngIf="muestraPrincipalFlag == 1">
    <div class="titulo text-center mt-2 mb-1">Mis Cuentas</div>

    <div class="text-center mt-4">
      <select (change)="changeMes()" class="select-finper-default select-s" name="" id="" [(ngModel)]="mesActual">
        <option *ngFor="let mes of arrMeses; let i = index" value="{{i}}" [selected]="i == mesActual" >{{mes}}</option>
     </select>

      <select (change)="changeMes()" class="select-finper-default select-xs" name="" id="" [(ngModel)]="anioActual">
        <option *ngFor="let anio of arrAnios" value="{{anio}}" [selected]="anio == anioActual">{{anio}}</option>
      </select>
    </div>

    <div class="text-center pt-4 pb-1">
      <span class="balance-titulo">Balance Mes: </span>
      <span class="balance-cantidad"> ARS {{ balance }} </span>
    </div>
    <div class="text-center pb-3">
      <span class="subbalance-titulo">Balance Total: </span>
      <span class="subbalance-cantidad"> ARS {{ balance }} </span>
    </div>

    <div class="container-cards mb-2">

      <div id="containercards-column1">

        <div class="containercard-item1">
          <div class="card">
            <div class="position-grafico">
              <div class="chart-container">
                <canvas class="text-center" id="grafico-miscuentas"> </canvas>
              </div>
            </div>
          </div>
        </div>
  
        <div class="containercard-item2">
          <div class="card text-center aling-center">
            <div class="card-titulo ahorro">Metas de Ahorros</div>
            <div class="card-cantidad ahorro">ARS 5.000</div>
            <div class="cardahorro-mensaje text">
              <p style="margin: 0">Tienes 5 metas de ahorros pendientes.</p>
            </div>
            <button class="btn btn-outline-primary btn-irahorro" routerLink="/metas">
              Ir a metas de ahorro
            </button>
          </div>
        </div>

      </div>

      <div id="containercards-column2">

        <div class="containercard-item3">
          <div class="card text-center">
            <div class="card-titulo egreso">Gastos</div>
            <div class="card-cantidad egreso">ARS {{ egreso }}</div>
            <div
            class="btn btn-outline-primary btn-detalleegreso"
            (click)="seleccionaDetalleEgr()">
              Detalle de gastos
            </div><br/>
            <button
            class="btn btn-outline-primary btn-nuevoegreso"
            (click)="seleccionaTipoMovimiento(2)">
              Nuevo gasto
            </button>
          </div>
        </div>
  
        <div class="containercard-item4">
          <div class="card text-center">
            <div class="card-titulo ingreso">Ingresos</div>
            <div class="card-cantidad ingreso">ARS {{ ingreso }}</div>
            <button
            class="btn btn-outline-primary btn-detalleingreso"
            (click)="seleccionaDetalleIng()">
              Detalle de ingresos
            </button><br/>
            <button
            class="btn btn-outline-primary btn-nuevoingreso"
            (click)="seleccionaTipoMovimiento(1)">
              Nuevo ingreso
            </button>
          </div>
        </div>
  
        <div class="containercard-item5">
          <div class="card text-center aling-center">
            <div class="card-titulo ultmov">Movimientos</div>
            <span *ngFor="let mes of arrMeses; let i = index; ">
              <span *ngFor="let anio of arrAnios">
                <div class="card-cantidad ultmov" *ngIf="i==mesActual && anio == anioActual">
                  {{mes}} {{anio}}
                  <div>
                    <button class="btn btn-outline-primary btn-irultmov" (click)="seleccionaUltMovimientos(mes, anio)">
                      Ir a movimientos
                    </button>
                  </div>
                </div>
              </span>
            </span>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<ng-template [ngIf]="nuevoIngFlag == 1" class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <button class="btn-close mb-4" (click)="volveraPrincipal()"></button>
      <br />
      <div class="card-titulo ingreso mb-4">Nuevo Ingreso</div>

      <form [formGroup]="forma" (ngSubmit)="crearNuevoMovimiento()">
        <div class="wrap-input100 modal-celda2 my-2">
          <input
            type="number"
            name="monto"
            placeholder="Monto del ingreso"
            formControlName="monto"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['monto'].errors?.['required'] && forma.controls['monto'].touched">
            El monto es requerido.
        </small>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['monto'].errors?.['min'] && forma.controls['monto'].touched">
            No pueden ingresar montos negativos.
        </small>

        <div class="wrap-input100 modal-celda1 my-2 select-finper-default">
          <select class="form" name="categoria" formControlName="categoria">
            <option [selected]="true" [disabled]="true" value="0">Seleccione categoría</option>
            <option *ngFor="let categoria of categoriasIngreso" value="{{categoria.cmov_id}}">{{categoria.cmov_descripcion}}</option>
          </select>
        </div><br>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['categoria'].errors?.['required'] && forma.controls['categoria'].touched">
            Debe seleccionar una categoría.
        </small>

        <div class="wrap-input100 modal-celda3 my-2">
          <input
            type="text"
            name="detalleIngreso"
            placeholder="Detalle del ingreso"
            formControlName="detalle"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['detalle'].errors?.['required'] && forma.controls['detalle'].touched">
            El detalle es requerido.
        </small>

        <div class="wrap-input100 modal-celda4 my-2">
          <input
            type="text"
            name="fechaLimite"
            placeholder="Fecha del ingreso"
            onfocus="(this.type='datetime-local')"
            formControlName="fecha"
            [ngModel]="fechaActual | date:'yyyy-MM-dd HH:mm:ss'"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['fecha'].errors?.['required'] && forma.controls['fecha'].touched">
            La fecha es requerida.
        </small>

        <div class="container-login100-form-btn">
          <button
            class="btn btn-light btn-lg action-button btngreen btr-r"
            [disabled]="forma.invalid"
          >
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="nuevoEgrFlag == 1" class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <button class="btn-close mb-4" (click)="volveraPrincipal()"></button>
      <br />
      <div class="card-titulo egreso mb-4">Nuevo Gasto</div>

      <form [formGroup]="forma" (ngSubmit)="crearNuevoMovimiento()">
        <div class="wrap-input100 modal-celda2 my-2">
          <input
            type="number"
            name="monto"
            placeholder="Monto del gasto"
            formControlName="monto"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['monto'].errors?.['required'] && forma.controls['monto'].touched">
            El monto es requerido.
        </small>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['monto'].errors?.['min'] && forma.controls['monto'].touched">
            No pueden ingresar montos negativos.
        </small>

        <div class="wrap-input100 modal-celda1 my-2 select-finper-default">
          <select class="form" name="categoria" formControlName="categoria">
            <option [selected]="true" [disabled]="true" value="0">Seleccione categoría</option>
            <option *ngFor="let categoria of categoriasEgreso" value="{{categoria.cmov_id}}">{{categoria.cmov_descripcion}}</option>
          </select>
        </div><br>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['categoria'].errors?.['required'] && forma.controls['categoria'].touched">
            Debe seleccionar una categoría.
        </small>

        <div class="wrap-input100 modal-celda3 my-2">
          <input
            type="text"
            name="detalleIngreso"
            placeholder="Detalle del gasto"
            formControlName="detalle"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['detalle'].errors?.['required'] && forma.controls['detalle'].touched">
            El detalle es requerido.
        </small>

        <div class="wrap-input100 modal-celda4 my-2">
          <input
            type="text"
            name="fechaLimite"
            placeholder="Fecha del gasto"
            onfocus="(this.type='datetime-local')"
            formControlName="fecha"
            [ngModel]="fechaActual | date:'yyyy-MM-dd HH:mm:ss'"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['fecha'].errors?.['required'] && forma.controls['fecha'].touched">
            La fecha es requerida.
        </small>

        <div class="container-login100-form-btn">
          <button
            class="btn btn-light btn-lg action-button btnred"
            [disabled]="forma.invalid"
          >
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template class="limiter" [ngIf]="msjAltaOk == 1">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <div class="titulo-nuevameta mb-4"></div>
      <form>
        <div class="login100-form validate-form text-center mt-3">
          <div class="wrap-input100">
            <div class="mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="68"
                height="68"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="#419f3e"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </div>
            <div class="mb-4">
              <p class="texto-mensaje mt-2">
                Has añadido un nuevo movimiento a tus cuentas.
              </p>
            </div>
          </div>
          <div class="mt-4 mb-2">
            <button
              class="btn btn-light btn-lg action-button btn-msjlight"
              (click)="volveraPrincipal()"
            >
              Aceptar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="detalleIngFlag == 1" class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <button class="btn-close mb-4" (click)="volveraPrincipal()"></button>
      <br />
      <div class="card-detalle ingreso mb-4">Detalle de Ingresos</div>

      <div *ngIf="muestraIngresosFlag==0">
        Aún no existen ingresos.
      </div>

      <div *ngIf="muestraIngresosFlag==1">
        <!-- <div class="flex text-center">
          <select class="form-detalles form" name="mesDetalle">
              <option *ngFor="let mes of arrMeses; let i = index" value="{{i+1}}" [selected]="i == mesActual">{{mes}}</option>
            </select>
          <select class="form-detalles form" name="anioDetalle">
              <option *ngFor="let anio of arrAnios; let i = index" value="{{anio}}" [selected]="anio == anioActual">{{anio}}</option>
          </select>
        </div> -->

        <div class="card-detalle ingreso mt-3">ARS {{ ingreso }}</div>

        <div>
          <table class="table table-hover">
            <!-- <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Descripción</th>
                <th scope="col">Monto</th>
              </tr>
            </thead> -->
            <tbody>
              <tr
                (click)="editarIngreso(movimiento)"
                *ngFor="let movimiento of this.ingresos"
              >
                <td scope="row">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-coin"
                    width="28"
                    height="28"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#3fd22f"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="12" cy="12" r="9" />
                    <path
                      d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 0 0 0 4h2a2 2 0 0 1 0 4h-2a2 2 0 0 1 -1.8 -1"
                    />
                    <path d="M12 6v2m0 8v2" />
                  </svg>
                </td>
                <td>{{ movimiento.mov_detalle }}</td>
                <td>{{ movimiento.mon_simbolo }} {{ movimiento.mov_monto }}</td>
                <td>{{ movimiento.mov_fcreacion | date: 'EEEE d HH:mm'}} </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</ng-template>

<ng-template [ngIf]="detalleEgrFlag == 1" class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <button class="btn-close mb-4" (click)="volveraPrincipal()"></button>
      <br />
      <div class="card-detalle egreso mb-4">Detalle de Gastos</div>

      <div *ngIf="muestraEgresosFlag==0">
        Aún no existen gastos.
      </div>

      <div *ngIf="muestraEgresosFlag==1">
        <!-- <div class="wrap-input100 modal-celda1 my-2 select-finper-default text-center">
          <select class="form" name="mes">
            <option value=" " selected>Septiembre 2022</option>
            <option value="1">Octubre 2022</option>
            <option value="2">Noviembre 2022</option>
          </select>
        </div> -->

      <div class="card-detalle egreso mt-3">ARS {{ egreso }}</div>

      <div>
        <table class="table table-hover">
          <!-- <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Descripción</th>
                <th scope="col">Monto</th>
              </tr>
          </thead> -->
            <tbody>
              <tr
                (click)="editarEgreso(datose)"
                *ngFor="let datose of this.egresos"
              >
                <td scope="row">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-coin"
                    width="28"
                    height="28"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#ff2825"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="12" cy="12" r="9" />
                    <path
                      d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 0 0 0 4h2a2 2 0 0 1 0 4h-2a2 2 0 0 1 -1.8 -1"
                    />
                    <path d="M12 6v2m0 8v2" />
                  </svg>
                </td>
                <td>{{ datose.mov_detalle }}</td>
                <td>{{ datose.mon_simbolo }} {{ datose.mov_monto }}</td>
                <td>{{ datose.mov_fcreacion | date: 'EEEE d HH:mm'}} </td>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<ng-template [ngIf]="editaIngFlag == 1" class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <button class="btn-close mb-4" (click)="seleccionaDetalleIng()"></button>
      <br />
      <div class="card-titulo ingreso mb-4">Editar Ingreso</div>

      <form [formGroup]="forma" (ngSubmit)="actualizarMovimiento()">
        <div class="wrap-input100 modal-celda2 my-2">
          <input
            type="number"
            name="monto"
            placeholder="Monto del ingreso"
            formControlName="monto"
            [(ngModel)]="movimientoSeleccionado.mov_monto"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['monto'].errors?.['required'] && forma.controls['monto'].touched">
            El monto es requerido.
        </small>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['monto'].errors?.['min'] && forma.controls['monto'].touched">
            No pueden ingresar montos negativos.
        </small>

        <div class="wrap-input100 modal-celda1 my-2 select-finper-default">
          <select class="form" name="categoria" formControlName="categoria">
            <option
            *ngFor="let categoria of categoriasIngreso"
            [selected]="movimientoSeleccionado.mov_idcategoria == categoria.cmov_id" >
              {{categoria.cmov_descripcion}}
            </option>
          </select>
        </div><br>

        <div class="wrap-input100 modal-celda3 my-2">
          <input
            type="text"
            name="detalleIngreso"
            placeholder="Detalle del ingreso"
            formControlName="detalle"
            [(ngModel)]="movimientoSeleccionado.mov_detalle"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['detalle'].errors?.['required'] && forma.controls['detalle'].touched">
            El detalle es requerido.
        </small>

        <div class="wrap-input100 modal-celda4 my-2">
          <input
            type="text"
            name="fechaLimite"
            placeholder="Fecha del ingreso"
            onfocus="(this.type='datetime-local')"
            formControlName="fecha"
            [(ngModel)]="movimientoSeleccionado.mov_fcreacion"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['fecha'].errors?.['required'] && forma.controls['fecha'].touched">
            La fecha es requerida.
        </small>

        <div class="container-login100-form-btn">
          <button
            class="btn btn-light btn-lg action-button btngreen btn-msjdark btn-act"
            [disabled]="forma.invalid"
          >
            Actualizar
          </button>
        </div>
      </form>

      <div class="container-login100-form-btn">
        <button
          class="btn btn-light btn-lg action-button btngreen btn-msjlight btn-act"
          (click)="preguntaEliminar()"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="editaEgrFlag == 1" class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <button class="btn-close mb-4" (click)="seleccionaDetalleEgr()"></button>
      <br />
      <div class="card-titulo egreso mb-4">Editar Gasto</div>

      <form [formGroup]="forma" (ngSubmit)="actualizarMovimiento()">
        <div class="wrap-input100 modal-celda2 my-2">
          <input
            type="number"
            name="monto"
            placeholder="Monto del gasto"
            formControlName="monto"
            [(ngModel)]="movimientoSeleccionado.mov_monto"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['monto'].errors?.['required'] && forma.controls['monto'].touched">
            El monto es requerido.
        </small>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['monto'].errors?.['min'] && forma.controls['monto'].touched">
            No pueden ingresar montos negativos.
        </small>

        <div class="wrap-input100 modal-celda1 my-2 select-finper-default">
          <select class="form" name="categoria" formControlName="categoria">
            <option
            *ngFor="let categoria of categoriasEgreso"
            [selected]="movimientoSeleccionado.mov_idcategoria == categoria.cmov_id" >
              {{categoria.cmov_descripcion}}
            </option>
          </select>
        </div><br>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['categoria'].errors?.['required'] && forma.controls['categoria'].touched">
            Debe seleccionar una categoría.
        </small>

        <div class="wrap-input100 modal-celda3 my-2">
          <input
            type="text"
            name="detalleGasto"
            placeholder="Detalle del gasto"
            formControlName="detalle"
            [(ngModel)]="movimientoSeleccionado.mov_detalle"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['detalle'].errors?.['required'] && forma.controls['detalle'].touched">
            El detalle es requerido.
        </small>

        <div class="wrap-input100 modal-celda4 my-2">
          <input
            type="text"
            name="fechaLimite"
            placeholder="Fecha del gasto"
            onfocus="(this.type='datetime-local')"
            formControlName="fecha"
            [(ngModel)]="movimientoSeleccionado.mov_fcreacion"
          />
        </div>
        <small  class="texto-validacion text-center"
        *ngIf="forma.controls['fecha'].errors?.['required'] && forma.controls['fecha'].touched">
            La fecha es requerida.
        </small>

        <div class="container-login100-form-btn">
          <button
            class="btn btn-light btn-lg action-button btnred btn-msjdark btn-act"
            [disabled]="forma.invalid"
          >
            Actualizar
          </button>
        </div>
      </form>

      <div class="container-login100-form-btn">
        <button
          class="btn btn-light btn-lg action-button btnred btn-msjlight btn-act"
          (click)="preguntaEliminar()"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template class="limiter" [ngIf]="muestraMensajeActFlag == 1 && editaIngFlag == 0">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <div class="titulo-nuevameta mb-4"></div>
      <form>
        <div class="login100-form validate-form text-center mt-3">
          <div class="wrap-input100">
            <div class="mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="68"
                height="68"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="#419f3e"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            </div>
            <div class="mb-4">
              <p class="texto-mensaje mt-2">
                Tu movimiento ha sido actualizado.
              </p>
            </div>
          </div>
          <div class="mt-4 mb-2">
            <button
              class="btn btn-light btn-lg action-button btn-msjdark"
              (click)="volveraPrincipal()"
            >
              Aceptar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template class="limiter" [ngIf]="preguntaEliminarFlag == 1">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <div class="titulo-nuevameta mb-4"></div>
      <form>
        <div class="login100-form validate-form text-center mt-3">
          <div class="wrap-input100">
            <div class="mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-trash"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="#419f3e"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="4" y1="7" x2="20" y2="7" />
                <line x1="10" y1="11" x2="10" y2="17" />
                <line x1="14" y1="11" x2="14" y2="17" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </div>
            <div class="mb-4">
              <p class="texto-mensaje mt-2">
                ¿Estás seguro que quieres eliminar este movimiento?
              </p>
            </div>
          </div>
          <div class="mt-4 mb-2">
            <button
              class="btn btn-light btn-lg action-button btn-msjlight"
              (click)="eliminaMovimiento()"
            >
              Eliminar
            </button>
          </div>
          <br />
          <div>
            <button
              class="btn btn-light btn-lg action-button btn-msjdark"
              (click)="cancelaEliminar()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template class="limiter" [ngIf]="muestraErrorEgFlag == 1">
  <div class="container-login100">
    <div class="wrap-login100 text-center">
      <div class="titulo-nuevameta mb-4"></div>
      <form>
        <div class="login100-form validate-form text-center mt-3">
          <div class="wrap-input100">
            <div class="mb-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-octagon" width="52" height="52" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8.7 3h6.6c.3 0 .5 .1 .7 .3l4.7 4.7c.2 .2 .3 .4 .3 .7v6.6c0 .3 -.1 .5 -.3 .7l-4.7 4.7c-.2 .2 -.4 .3 -.7 .3h-6.6c-.3 0 -.5 -.1 -.7 -.3l-4.7 -4.7c-.2 -.2 -.3 -.4 -.3 -.7v-6.6c0 -.3 .1 -.5 .3 -.7l4.7 -4.7c.2 -.2 .4 -.3 .7 -.3z" />
                <line x1="12" y1="8" x2="12" y2="12" />
                <line x1="12" y1="16" x2="12.01" y2="16" />
              </svg>
            </div>
            <div class="mb-4">
              <p class="texto-mensaje mt-2">
                El gasto que intentas ingresar es mayor a tu balance.
              </p>
            </div>
          </div>
          <div class="mt-4 mb-2">
            <button
              class="btn btn-light btn-lg action-button btn-msjlight"
              (click)="volveraPrincipal()"
            >
              Aceptar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
