<div class="container">
    
    <div class="grid-container">

        <div class="card text-center">
            <div class="iconbg text-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="88" height="88" viewBox="0 0 24 24" stroke-width="1.5" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="7" r="4" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
            </div>
            <p class="ttl-card">Registrate</p>
            <p class="p-3">Lo primordial es ser parte de nuestra comunidad, por lo que tendrás que crear un usuario con tu email y contraseña. <br> Si ya estás registrado, sólo tendrás que iniciar sesión.</p>
        </div>

        <div class="card text-center">
            <div class="iconbg text-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin" width="88" height="88" viewBox="0 0 24 24" stroke-width="1.5" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 0 0 0 4h2a2 2 0 0 1 0 4h-2a2 2 0 0 1 -1.8 -1" />
                    <path d="M12 6v2m0 8v2" />
                </svg>
            </div>
            <p class="ttl-card">Ingresa tus movimientos</p>
            <p class="p-3">Registra todos tus ingresos y egresos categorizados cada vez que quieras. <br> Nosotros nos encargaremos de organizar la información para que sea más fácil de entender. </p>
        </div>

        <div class="card text-center">
            <div class="iconbg text-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-businessplan" width="88" height="88" viewBox="0 0 24 24" stroke-width="1.5" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <ellipse cx="16" cy="6" rx="5" ry="3" />
                    <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                    <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                    <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                    <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                    <path d="M5 15v1m0 -8v1" />
                </svg>
            </div>
            <p class="ttl-card">Define metas de ahorro</p>
            <p class="p-3">Una vez que determines tu meta, sólo tienes que ingresar la descripción, monto y fecha límite para alcanzarla. <br> Siempre que así lo desees, ingresa montos que te ayuden a alcanzarla.</p>
        </div>

    </div>

</div>