<div class="header-blue">
    <div class="container py-5">
        <div class="row align">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1 text-home">
                <h1 class="h-home">FinPer App.</h1>
                <p class="text-home">Controlar tus finanzas personales nunca fue tan fácil. Con FinPer podrás gestionar tus ingresos, egresos, e incluso tus metas.</p>
                <p class="text-home">Animate a soñar.</p>
                <button class="btn btn-light btn-lg action-button mt-3" type="button" routerLink="/ingreso">Ingresa</button></div>
                <div
                class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
                <div class="screen"></div>
            </div>
        </div>
    </div>
</div>