<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form [formGroup]="forma" class="login100-form" (ngSubmit)="registrar()">
                <div class="login100-form validate-form text-center">
                    <a> <img src="./assets/img/icons/logo-fp-negro.png" class="imagen-logo" alt="" /> </a>

                    <div *ngIf="parteFormulario==0">
                        <span class="login100-form-title"> Registro </span>

                        <div class="wrap-input100">
                            <input class="input100" type="email" name="email" placeholder="Email" formControlName="email">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['email'].errors?.['required'] && forma.controls['email'].touched">
                            El email es requerido.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['email'].errors?.['email']">
                            Email inválido.
                        </small>

                        <div class="wrap-input100">
                            <input class="input100" type="password" name="pwd" placeholder="Contraseña" formControlName="contrasena">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasena'].errors?.['required'] && forma.controls['contrasena'].touched">
                            La contraseña es requerida.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasena'].errors?.['minLength']">
                            La contraseña debe tener al menos 6 caracteres.
                        </small>

                        <div class="wrap-input100">
                            <input class="input100" type="password" name="pwdconfirm" placeholder="Confirme contraseña" formControlName="pwdConfirm">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['pwdConfirm'].errors?.['required'] && forma.controls['pwdConfirm'].touched">
                            La confirmación de contraseña es requerida.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.errors?.['contrasenasIguales']">
                            Las contraseñas no coinciden.
                        </small>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" (click)="pasarParteUno()">
                                    Continuar
                                </button>
                            </div>
                        </div>

                        <div class="mt-5">
                            <p class="txt1">
                                Ya tengo una cuenta.
                                <a class="txt2" routerLink="/ingreso"> Ingresar</a>
                            </p>
                        </div>

                    </div>

                    <div *ngIf="parteFormulario==1">
                        <span class="login100-form-title p-b-26"> Más sobre ti </span>
    
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="nombre" placeholder="Nombre" formControlName="nombre">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['nombre'].errors?.['required'] && forma.controls['nombre'].touched">
                            El nombre es requerido.
                        </small>
        
                        <div class="wrap-input100" >
                            <label for="fnacimiento"></label>
                            <input class="input100" type="text" name="fnacimiento" placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" formControlName="fnacimiento">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['fnacimiento'].errors?.['required'] && forma.controls['fnacimiento'].touched">
                            La fecha de nacimiento es requerida.
                        </small>
                        <br>
                        <div class="wrap-input100" >
                            <select class="input100" name="residencia" formControlName="residencia">
                                <option value="" [disabled]="1">Lugar de Residencia</option>
                                <option value="{{pais.res_id}}" *ngFor="let pais of paises" [disabled]="pais.res_id != 13">{{pais.res_descripcion}}</option>
                            </select>
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['residencia'].errors?.['required'] && forma.controls['residencia'].touched">
                            La residencia es requerida.
                        </small>
        
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" (click)="pasarParteDos()">
                                    Continuar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="parteFormulario==2">
                        <span class="login100-form-title p-b-26"> Más sobre ti </span>

                        <label class="texto-label mb-4">Modos de Ingreso</label>

                        <div>
                            <div >
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="1">
                                    <label class="modIng mt-1"> Desempleado </label>
                                </div>
                               <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="2">
                                    <label class="modIng mt-1"> Estudiante </label>
                               </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="3">
                                    <label class="modIng mt-1"> Emprendedor </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="4">
                                    <label class="modIng mt-1"> Jubilado </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="5">
                                    <label class="modIng mt-1"> Trabajo a tiempo completo </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="6">
                                    <label class="modIng mt-1"> Trabajo por horas </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="6">
                                    <label class="modIng mt-1"> Profesional independiente </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="8">
                                    <label class="modIng mt-1"> Otro </label>
                                </div>
                            </div>
                            
                            <small  class="texto-validacion text-center"
                            *ngIf="forma.controls['modoing'].errors?.['required']">
                                Debe seleccionar al menos un modo de ingreso.
                            </small><br>
                        </div>  

                        <!-- <div>
                            <div *ngFor="let modo of modosIng">
                                <input type="checkbox" name="modoing[]" formControlName="modoing"/>
                                <label class="modIng"> {{modo.nombre}} </label>
                            </div>
                            <pre>{{ modosIng | json }}</pre>
                            <small  class="texto-validacion text-center"
                            *ngIf="forma.controls['modoing'].errors?.['required']">
                                Debe seleccionar al menos un modo de ingreso.
                            </small><br>
                        </div>   -->

                        <!-- <div class="grid-ingresos">
                            <label class="btn btn-outline-primary btn-agregar mt-1">
                                <input type="checkbox" name="modoing" formControlName="modoing" value="1"> <span>Desempleado</span>
                            </label>
                            <label class="btn btn-outline-primary btn-agregar mt-1">
                                <input type="checkbox" name="modoing" formControlName="modoing" value="2"> <span>Estudiante</span>
                            </label>
                            <label class="btn btn-outline-primary btn-agregar mt-1">
                                <input type="checkbox" name="modoing" formControlName="modoing" value="3"> <span>Emprendedor</span>
                            </label>
                            <label class="btn btn-outline-primary btn-agregar mt-1">
                                <input type="checkbox" name="modoing" formControlName="modoing" value="4"> <span>Jubilado</span>
                            </label>
                            <label class="btn btn-outline-primary btn-agregar mt-1">
                                <input type="checkbox" name="modoing" formControlName="modoing" value="7"> <span>Trabajo por horas</span>
                            </label>
                            <label class="btn btn-outline-primary btn-agregar mt-1">
                                <input type="checkbox" name="modoing" formControlName="modoing" value="8"> <span>Otro</span>
                            </label>
                            <label class="btn btn-outline-primary btn-agregar mt-1">
                                <input type="checkbox" name="modoing" formControlName="modoing" value="5"> <span>Profesional independiente</span>
                            </label>
                            <label class="btn btn-outline-primary btn-agregar mt-1">
                                <input type="checkbox" name="modoing" formControlName="modoing" value="6"> <span>Trabajo a tiempo completo</span>
                            </label>
                        </div>
                        <small  class="texto-validacion text-center"
                        *ngIf="forma.controls['modoing'].errors?.['required']">
                            Debe seleccionar al menos un modo de ingreso.
                        </small><br> -->

                        <label class="texto-label mt-4">Profesión</label>
                        
                        <div class="d-flex justify-content-center">
                            <div class="wrap-input100" >
                                <select class="input100"  name="profesion" formControlName="profesion">
                                    <option value="" selected [disabled]="1">Seleccione una profesión</option>
                                    <option value="{{profesion.pro_id}}" *ngFor="let profesion of profesiones">{{profesion.pro_descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['profesion'].errors?.['required'] && forma.controls['profesion'].touched">
                            Debe seleccionar una profesion.
                        </small>
    
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" data-bs-toggle="modal">
                                    Registrar
                                </button>
                                 <!-- <button class="login100-form-btn" data-bs-toggle="modal" href="#exampleModalCenter">
                                    Registrar
                                 </button>  -->
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header ftco-degree-bg">
          <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="ion-ios-close"></span>
          </button>
        </div>
        <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-forward" width="80" height="80" viewBox="0 0 24 24" stroke-width="2" stroke="#6f32be" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
                <path d="M3 6l9 6l9 -6" />
                <path d="M15 18h6" />
                <path d="M18 15l3 3l-3 3" />
            </svg>
        </div>
        <div class="modal-body pt-md-0 pb-md-5 text-center mt-2">
            <p class="texto-modal">Hemos enviado un email a tu correo electrónico para validar tu perfil</p>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-modal mb-4">Aceptar</button>
        </div>
      </div>
    </div>
  </div> -->