<ng-template class="limiter" [ngIf]="mensajeSolicitaValidacion == 0">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form text-center">
                <a> <img src="./assets/img/icons/FinPerLogo.png" class="imagen-logo mb-2" alt="Logo FinPer"/> </a>

                <form [formGroup]="forma" class="login100-form" (ngSubmit)="validarMail()">

                    <div *ngIf="parteFormulario==0">
                        <span class="login100-form-title mt-2"> Registro </span>

                        <div class="wrap-input100">
                            <input class="input100 input-margin" type="email" name="email" placeholder="Correo electrónico" formControlName="email" (click)="limpiarMensaje()">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['email'].errors?.['required'] && forma.controls['email'].touched">
                            El correo electrónico es requerido.<br>
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['email'].errors?.['email'] || forma.controls['email'].errors?.['pattern']">
                            El correo electrónico es inválido.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="textoValidacion != ''">
                            {{textoValidacion}}
                        </small>

                        <div class="wrap-input100">
                            <input class="input100 input-margin" type="password" name="pwd" placeholder="Contraseña" formControlName="contrasena">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasena'].errors?.['required'] && forma.controls['contrasena'].touched">
                            La contraseña es requerida.<br>
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasena'].errors?.['minlength']">
                            La contraseña debe tener al menos 8 caracteres.<br>
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasena'].errors?.['pattern']">
                            La contraseña debe tener al menos una mayúscula y un número.
                        </small>

                        <div class="wrap-input100">
                            <input class="input100 input-margin" type="password" name="pwdconfirm" placeholder="Confirme contraseña" formControlName="pwdConfirm">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['pwdConfirm'].errors?.['required'] && forma.controls['pwdConfirm'].touched">
                            La confirmación de contraseña es requerida.<br>
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.errors?.['contrasenasIguales']">
                            Las contraseñas no coinciden.
                        </small>

                        <div class="container-login100-form-btn">
                            <button class="btn btn-light btn-lg action-button btngreen" [disabled]="forma.invalid">
                                Continuar
                            </button>
                        </div>

                        <div class="mt-5">
                            <p class="txt1">
                                Ya tengo una cuenta.
                                <a class="txt2" routerLink="/ingreso"> Ingresar</a>
                            </p>
                        </div>
                    </div>

                </form>

                <form [formGroup]="forma2" class="login100-form" (ngSubmit)="registrar()">

                    <div *ngIf="parteFormulario==1">
                        <span class="login100-form-title p-b-26"> Más sobre ti </span>
    
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="nombre" placeholder="Nombre" formControlName="nombre">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma2.controls['nombre'].errors?.['required'] && forma2.controls['nombre'].touched">
                            El nombre es requerido.<br>
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma2.controls['nombre'].errors?.['pattern']" >
                            El nombre no debe contener caracteres numéricos o especiales.
                        </small>
        
                        <div class="wrap-input100" >
                            <label for="fnacimiento"></label>
                            <input class="input100" type="text" name="fnacimiento" placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" formControlName="fnacimiento">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma2.controls['fnacimiento'].errors?.['required'] && forma2.controls['fnacimiento'].touched">
                            La fecha de nacimiento es requerida.<br>
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma2.controls['fnacimiento'].errors?.['fechaInvalida']">
                            Debes tener entre 15 y 99 años.<br>
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma2.controls['fnacimiento'].errors?.['pattern'] || forma2.controls['fnacimiento'].errors?.['maxlength']">
                            La fecha es inválida.<br>
                        </small>
                        <br>
                        <div class="wrap-input100 mb-2">
                            <select class="input100 txt-select" name="residencia" formControlName="residencia">
                                <option value="" [selected]="1">Lugar de Residencia</option>
                                <option value="{{pais.res_id}}" *ngFor="let pais of paises" [disabled]="pais.res_id != 13">{{pais.res_descripcion}}</option>
                            </select>
                        </div><br>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma2.controls['residencia'].errors?.['required'] && forma2.controls['residencia'].touched">
                            La residencia es requerida.
                        </small>

                        <div class="mb-2">
                            <div class="wrap-input100" >
                                <select class="input100 txt-select" name="modoingreso" formControlName="modoing">
                                    <option value="" selected [disabled]="1">Modo de ingresos</option>
                                    <option value="{{ingreso.ming_id}}" *ngFor="let ingreso of ingresos">{{ingreso.ming_descripcion}}</option>
                                </select>
                            </div>
                            
                            <small  class="texto-validacion text-center"
                            *ngIf="forma2.controls['modoing'].errors?.['required'] && forma2.controls['modoing'].touched">
                                Debe seleccionar un modo de ingreso.
                            </small><br>
                        </div>
                        
                        <div class="d-flex justify-content-center">
                            <div class="wrap-input100" >
                                <select class="input100 txt-select"  name="profesion" formControlName="profesion">
                                    <option value="" selected [disabled]="1">Área de profesión</option>
                                    <option value="{{profesion.pro_id}}" *ngFor="let profesion of profesiones">{{profesion.pro_descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma2.controls['profesion'].errors?.['required'] && forma2.controls['profesion'].touched">
                            Debe seleccionar una profesion.
                        </small>
    
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="btn btn-light btn-lg action-button btngreen" [disabled]="forma2.invalid">
                                    Registrar
                                </button> 
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template class="limiter" [ngIf]="mensajeSolicitaValidacion == 1 && parteFormulario == 2">
    <div class="container-login100"> 
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<div class="login100-form validate-form text-center mt-3">
				<div class="text-center">
                    <div class="mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-forward" width="68" height="68" viewBox="0 0 24 24" stroke-width="1.5" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
                            <path d="M3 6l9 6l9 -6" />
                            <path d="M15 18h6" />
                            <path d="M18 15l3 3l-3 3" />
                        </svg>
                    </div>
                    <div class="mb-4">
                        <p class="texto-mensaje mt-2">Te hemos enviado un mail para validar tu correo electrónico.</p>
                    </div>
                </div>
                <div class="mt-4 mb-2">
                    <button type="button" class="btn btn-light btn-lg action-button btngreen" (click)="volveraRegistro()">
                        Aceptar
                    </button>
                </div><br>
			</div>
		</div>
	</div>
</ng-template>