<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form [formGroup]="forma" class="login100-form" (ngSubmit)="registrar()">
                <div class="login100-form validate-form text-center">
                    <a> <img src="./assets/img/icons/FinPerLogo.png" class="imagen-logo mb-2" alt="Logo FinPer"/> </a>

                    <div *ngIf="parteFormulario==0">
                        <span class="login100-form-title mt-2"> Registro </span>

                        <div class="wrap-input100">
                            <input class="input100 input-margin" type="email" name="email" placeholder="Email" formControlName="email">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['email'].errors?.['required'] && forma.controls['email'].touched">
                            El email es requerido.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['email'].errors?.['email']">
                            Email inválido.
                        </small>

                        <div class="wrap-input100">
                            <input class="input100 input-margin" type="password" name="pwd" placeholder="Contraseña" formControlName="contrasena">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasena'].errors?.['required'] && forma.controls['contrasena'].touched">
                            La contraseña es requerida.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['contrasena'].errors?.['minLength']">
                            La contraseña debe tener al menos 6 caracteres.
                        </small>

                        <div class="wrap-input100">
                            <input class="input100 input-margin" type="password" name="pwdconfirm" placeholder="Confirme contraseña" formControlName="pwdConfirm">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['pwdConfirm'].errors?.['required'] && forma.controls['pwdConfirm'].touched">
                            La confirmación de contraseña es requerida.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.errors?.['contrasenasIguales']">
                            Las contraseñas no coinciden.
                        </small>

                        <div class="container-login100-form-btn">
                            <button class="btn btn-light btn-lg action-button btngreen" (click)="pasarParteUno()">
                                Continuar
                            </button>
                        </div>

                        <div class="mt-5">
                            <p class="txt1">
                                Ya tengo una cuenta.
                                <a class="txt2" routerLink="/ingreso"> Ingresar</a>
                            </p>
                        </div>

                    </div>

                    <div *ngIf="parteFormulario==1">
                        <span class="login100-form-title p-b-26"> Más sobre ti </span>
    
                        <div class="wrap-input100">
                            <input class="input100" type="text" name="nombre" placeholder="Nombre" formControlName="nombre">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['nombre'].errors?.['required'] && forma.controls['nombre'].touched">
                            El nombre es requerido.
                        </small>
        
                        <div class="wrap-input100" >
                            <label for="fnacimiento"></label>
                            <input class="input100" type="text" name="fnacimiento" placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" formControlName="fnacimiento">
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['fnacimiento'].errors?.['required'] && forma.controls['fnacimiento'].touched">
                            La fecha de nacimiento es requerida.
                        </small>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['fechaMayorA15']">
                            Debes ser mayor a 15 años.
                        </small>
                        <br>
                        <div class="wrap-input100" >
                            <select class="input100 txt-select" name="residencia" formControlName="residencia">
                                <option value="" [selected]="1">Lugar de Residencia</option>
                                <option value="{{pais.res_id}}" *ngFor="let pais of paises" [disabled]="pais.res_id != 13">{{pais.res_descripcion}}</option>
                            </select>
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['residencia'].errors?.['required'] && forma.controls['residencia'].touched">
                            La residencia es requerida.
                        </small>
        
                        <div class="container-login100-form-btn">
                            <button class="btn btn-light btn-lg action-button btngreen" (click)="pasarParteDos()">
                                Continuar
                            </button>
                        </div>
                    </div>

                    <div *ngIf="parteFormulario==2">
                        <span class="login100-form-title p-b-26"> Más sobre ti </span>

                        <label class="texto-label mb-4">Modos de Ingreso</label>

                        <div>
                            <div >
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="1">
                                    <label class="modIng mt-1"> Desempleado </label>
                                </div>
                               <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="2">
                                    <label class="modIng mt-1"> Estudiante </label>
                               </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="3">
                                    <label class="modIng mt-1"> Emprendedor </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="4">
                                    <label class="modIng mt-1"> Jubilado </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="5">
                                    <label class="modIng mt-1"> Trabajo a tiempo completo </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="6">
                                    <label class="modIng mt-1"> Trabajo por horas </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="6">
                                    <label class="modIng mt-1"> Profesional independiente </label>
                                </div>
                                <div>
                                    <input type="checkbox" name="modoingreso" id="modoingreso" formControlName="modoing" value="8">
                                    <label class="modIng mt-1"> Otro </label>
                                </div>
                            </div>
                            
                            <small  class="texto-validacion text-center"
                            *ngIf="forma.controls['modoing'].errors?.['required']">
                                Debe seleccionar al menos un modo de ingreso.
                            </small><br>
                        </div>  

                        <label class="texto-label mt-4">Profesión</label>
                        
                        <div class="d-flex justify-content-center">
                            <div class="wrap-input100" >
                                <select class="input100"  name="profesion" formControlName="profesion">
                                    <option value="" selected [disabled]="1">Seleccione una profesión</option>
                                    <option value="{{profesion.pro_id}}" *ngFor="let profesion of profesiones">{{profesion.pro_descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <small  class="texto-validacion text-center" 
                        *ngIf="forma.controls['profesion'].errors?.['required'] && forma.controls['profesion'].touched">
                            Debe seleccionar una profesion.
                        </small>
    
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="btn btn-light btn-lg action-button btngreen" data-bs-toggle="modal" href="#exampleModalCenter">
                                    Registrar
                                </button> 
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>