<div class="container">

    <div class="titulo text-center">Mis Informes</div>
    
    <div class="grid-container">

        <div class="card text-center" routerLink="/graficoscategoriasmensual">
            <p>Informe Mensual por Categorías</p>
        </div>

        <div class="card text-center" routerLink="/graficosmovimientosmensual">
            <p >Informe Mensual por Movimientos</p>
        </div>

        <div class="card text-center" routerLink="/graficosmovimientosanual">
            <p>Informe Anual de Movimientos</p>
        </div>

    </div>

</div>