<div class="container">

    <div class="titulo text-center">Mis Informes</div>

    <!-- <div class="mt-4 mb-4">
        <div class="text-center mt-4">
          <select (change)="cambiaMes()" class="select-finper-default select-s" name="" id="" [(ngModel)]="mesActual">
            <option *ngFor="let mes of arrMeses; let i = index" value="{{i}}" [selected]="i == mesActual" >{{mes}}</option>
         </select>
    
          <select (change)="cambiaMes()" class="select-finper-default select-xs" name="" id="" [(ngModel)]="anioActual">
            <option *ngFor="let anio of arrAnios" value="{{anio}}" [selected]="anio == anioActual">{{anio}}</option>
          </select>
        </div>
      </div> -->
    
    <div class="grid-container">

        <div class="card text-center" (click)="manejoBotonInformeCategorias()" [ngClass]="{'small-screen': esResolucionChica(), 'large-screen': !esResolucionChica()}">
            <p>Informe Mensual por Categorías</p>
        </div>

        <div class="card text-center" routerLink="/graficosmovimientosmensual">
            <p >Informe Mensual por Movimientos</p>
        </div>

        <div class="card text-center" routerLink="/graficosmovimientosanual">
            <p>Informe Anual de Movimientos</p>
        </div>

    </div>

</div>