<div>
    <div class="titulo text-center mt-5 mb-5"> Últimos Movimientos </div>

    <ul class="responsive-table text-center mt-3">
        <li class="table-header">
          <div class="col col-1">Tipo</div>
          <div class="col col-2">Categoría</div>
          <div class="col col-3">Monto</div>
          <div class="col col-4">Fecha</div>
        </li>
        <li class="table-row"  *ngFor="let movimiento of listadoMovimientos">
            <div class="col col-1">{{movimiento.tmov_descripcion}}</div>
            <div class="col col-2">{{movimiento.cmov_descripcion}}</div>
            <div class="col col-3">{{movimiento.mon_simbolo + " " + movimiento.mov_monto}}</div>
            <div class="col col-4">{{movimiento.mov_fcreacion|date: 'dd/MM/YYYY H:mm'}}</div>
        </li>
        
      </ul>

    <div class="text-center mb-4">
        <a routerLink="/miscuentas">Volver</a>
    </div>

</div>