<div>
    <div class="titulo text-center mt-5 mb-5">Últimos Movimientos</div>

    <div class="grid-metas mt-5 mb-5 text-center">
        <div class="encabezado">
            <div> Tipo </div>
            <div> Categoría </div>
            <div> Monto </div>
            <div> Fecha </div>
        </div>
        <div class="contenido" *ngFor="let movimiento of listadoMovimientos">
            <div>{{movimiento.tmov_descripcion}}</div>
            <div>{{movimiento.cmov_descripcion}}</div>
            <div>{{movimiento.mon_descripcion + " " + movimiento.mov_monto}}</div>
            <div>{{movimiento.mov_fcreacion|date: 'dd-MM-YYYY'}}</div>
        </div>
        
    </div>

    <div class="text-center">
        <a routerLink="/miscuentas">Volver</a>
    </div>

</div>
