<div class="modal-header">
    <button type="button" class="btn-close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true"></span>
    </button>
</div>
<div>
    <div class="text-center">
        <span class="material-icons">{{icono}}</span>
    </div>
</div>

<div class="modal-body text-center">
    <p class="texto-modal">{{mensaje}}</p>
</div>

<div class="text-center mb-4">
    <button type="button" class="btn-modal">
        {{boton}}
    </button>
</div>

<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ftco-degree-bg modal-encabezado">
                <div>
                    <button type="button" class="close d-flex align-items-center justify-content-center btn-close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
                        <span aria-hidden="true" class="ion-ios-close"> </span>
                    </button>
                </div>
                <div class="text-center modal-encabezado-titulo">
                    <span> Mensaje </span><br>
                </div>
            </div>

            <div class="modal-contenedor">
                <div>
                    <p>{{mensaje}}</p>
                </div>

                <div class="mt-4">
                    <button class="btn btn-modal mb-4">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div> -->
