/* @import 'material-icons/iconfont/material-icons.css'; */
*{
    font-family: 'Poppins', sans-serif;
}

.btn-close {
    background-color: transparent;
    color: white;
    float: left;
}

.btn-close:hover {
    color: #000;
}

.btn-modal {
    border-color:#9B2CEC;
    color: #9B2CEC;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: transparent;
    padding: 5px;
}

.btn-modal:hover {
    background-color:#9B2CEC;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.material-icons{
    font-size: 80px;
}

.modal-header{
    border-bottom: transparent;
}

.texto-modal{
    font-size: medium;
}

