/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Poppins', "Helvetica Neue", sans-serif;
  /* background: #f6f8fa; */
  background: url('./assets/img/fondo.png');
}

.mat-body{
  font-family: 'Poppins', "Helvetica Neue", sans-serif;
}

.select-finper-default{
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  display: inline;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
}

.select-m{
  width: 190px;
}

.select-s{
  width: 140px;
}

.select-xs{
  width: 80px;
}

