<ng-template [ngIf]="muestraMetas==1">

    <div class="titulo text-center mt-5 mb-5">Mis Metas de Ahorro</div>

    <div class="mt-2 text-center">
        <select class="select-finper-default select-s pstleft" name="estado" [(ngModel)]="estadoMeta" (ngModelChange)="cambiaEstado()">
            <option *ngFor="let estado of arrEstados" [value]="estado.value">
              {{estado.name}}
            </option>
        </select>
    </div>

    <div class="container-login100" *ngIf="tieneMetasFlag==0">
		<div class="wrap-login100 text-center">
			<div class="login100-form validate-form text-center mt-3">
				<div class="wrap-input100">
                    <div class="mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-zoom-money" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="10" cy="10" r="7" />
                            <path d="M21 21l-6 -6" />
                            <path d="M12 7h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M10 13v1m0 -8v1" />
                        </svg>
                    </div>
                    <div class="mb-4">
                        <p class="texto-mensaje mt-2">Aún no tienes metas de ahorro.</p>
                    </div>
                </div>
                <div class="mt-4 mb-2">
                    <button type="button" class="btn btn-outline-primary btn-agregar text-center" (click)="cambiaAgregaMetaFlag()">
                        Agregar nueva meta
                    </button>
                </div><br>
			</div>
		</div>
	</div>

    <div *ngIf="tieneMetasFlag==1">
        <ul class="responsive-table text-center mt-3">
            <li class="table-header">
              <div class="col col-1">Meta</div>
              <div class="col col-2">Monto</div>
              <div class="col col-3">Ahorrado</div>
              <div class="col col-4">Por alcanzar</div>
              <div class="col col-5">Fecha límite</div>
              <div class="col col-6">Estado</div>
              <div class="col col-7"></div>
            </li>
            <li class="table-row" *ngFor="let meta of metas | paginate: { itemsPerPage: metasPorPagina, currentPage: paginaActual }; let i = index" (click)="mostrarMontos(meta)">
              <div class="col col-1" data-label="Meta">{{meta.met_nombre}}</div>
              <div class="col col-2" data-label="Monto">{{meta.mon_simbolo}} {{meta.met_monto | number: '1.2-2' }}</div>
              <div class="col col-3" data-label="Ahorrado">{{meta.mon_simbolo}} {{meta.sumaMonto | number: '1.2-2' }}</div>
              <div class="col col-4" data-label="Por alcanzar">{{meta.mon_simbolo}} {{meta.met_monto - meta.sumaMonto | number: '1.2-2' }} </div>
              <div class="col col-5" data-label="Fecha Límite">{{meta.met_flimite | date: 'dd/MM/YYYY'}}</div>
              <div class="col col-6" data-label="Estado">{{meta.emet_descripcion}}</div>
              <div class="col col-7">
                <div (click)="editarMeta(meta)" class="btn-editar">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                        <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                        <line x1="16" y1="5" x2="19" y2="8" />
                    </svg>
                </div>
              </div>
            </li>
            <pagination-controls (pageChange)="paginaActual = $event" class="text-center" *ngIf="this.metas.length > metasPorPagina">
            </pagination-controls>
          </ul>
    
        <div class="text-center">
            <button type="button" class="btn btn-outline-primary btn-agregar" (click)="cambiaAgregaMetaFlag()">Agregar nueva meta</button>
        </div>
    </div>

    <div class="btn-volverMisCuentas text-center" routerLink="/miscuentas">
        Ir a Mis Cuentas
    </div>

</ng-template>

<ng-template class="limiter" [ngIf]="agregaMetaFlag==1 && muestraMensajeFlag==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <button class="btn-close mb-4" (click)="volveraMetas()"> </button> <br><br>
            <div class="titulo-nuevameta mb-4">Nueva Meta</div>
			<form [formGroup]="forma" (ngSubmit)="crearMeta()">
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100 modal-celda1 my-2 select-finper-default select-m">
                        <select class="input100 txt-select black-text" name="moneda" formControlName="moneda">
                            <option value="" selected [disabled]>Moneda de la meta</option>
                            <option value="1">ARS</option>
                            <option value="2">USD</option>
                        </select>
                    </div><br>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma.controls['moneda'].errors?.['required'] && forma.controls['moneda'].touched">
                        Debe seleccionar una moneda.
                    </small>

                    <div class="wrap-input100 modal-celda2 my-2">
                        <input type="number" name="monto" placeholder="Monto de la meta" formControlName="monto" >
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma.controls['monto'].errors?.['required'] && forma.controls['monto'].touched">
                        El monto es requerido.
                    </small>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma.controls['monto'].errors?.['min']">
                        El monto no puede ser negativo.
                    </small>

                    <div class="wrap-input100 modal-celda3 my-2">
                        <input type="text" name="detalleMeta" placeholder="Detalle de la meta" formControlName="detalle">
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma.controls['detalle'].errors?.['required'] && forma.controls['detalle'].touched">
                        El detalle es requerido.
                    </small>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma.controls['detalle'].errors?.['maxlength']">
                        El detalle no debe tener más de 20 caracteres.
                    </small>

                    <div class="wrap-input100 modal-celda4 my-2">
                        <input type="text" name="fechaLimite" placeholder="Fecha límite de la meta" onfocus="(this.type='date')" formControlName="fechaLimite">
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma.controls['fechaLimite'].errors?.['required'] && forma.controls['fechaLimite'].touched">
                        La fecha límite es requerida.
                    </small>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma.controls['fechaLimite'].errors?.['fechaInvalida']">
                        La fecha debe ser mayor a la fecha de hoy.
                    </small>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma.controls['fechaLimite'].errors?.['pattern']">
                        El formato de la fecha es inválido.
                    </small>
				</div>

                <div class="container-login100-form-btn">
                    <button class="btn btn-light btn-lg action-button btngreen" [disabled]="forma.invalid">
                        Aceptar
                    </button>
                </div>
			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="muestraMensajeFlag==1 && muestraMensajeActFlag==0 && muestraMensajeActMontoFlag==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<form>
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="68" height="68" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M9 12l2 2l4 -4" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">Has añadido una nueva meta de ahorro.</p>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <button class="btn btn-light btn-lg action-button btn-msjlight" (click)="volveraMetas()">
                            Volver a mis metas
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-light btn-lg action-button btn-msjdark" (click)="crearOtraMeta()">
                            Crear otra meta de ahorro
                        </button>
                    </div>

				</div>

			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="editaMetaFlag==1 && muestraMetas==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <button class="btn-close mb-4" (click)="volveraMetas()"> </button> <br><br>
            <div class="titulo-nuevameta mb-4">Editar Meta</div>
			<form [formGroup]="forma2" (ngSubmit)="muestraMensajeActOk()">
				<div class="login100-form validate-form text-center mt-3">

                    <div class="wrap-input100 modal-celda1 my-2 select-finper-default select-m">
                        <select class="wrap-input100" name="moneda" formControlName="monedaEdit" (ngModelChange)="cambiarMonedaMeta()">
                            <option value="" disabled>Moneda de la meta</option>
                            <option value={{this.metaAModificar.met_idmoneda}} *ngFor="let moneda of monedas" [selected]="moneda.mon_id == this.modificarMonedaMeta" >
                                {{moneda.mon_simbolo}}
                              </option>
                        </select>
                    </div>

                    <div class="wrap-input100 modal-celda2 my-2">
                        <input type="number" name="monto" placeholder="Monto de la meta" formControlName="montoEdit" [(ngModel)]="this.metaAModificar.met_monto">
                    </div>

                    <div class="wrap-input100 modal-celda3 my-2">
                        <input type="text" name="detalleMeta" placeholder="Detalle de la meta" formControlName="detalleEdit" [(ngModel)]="this.metaAModificar.met_nombre">
                    </div>

                    <div class="wrap-input100 modal-celda4 my-2">
                        <input type="date" name="fechaLimite" placeholder="Fecha límite de la meta" onfocus="(this.type='date')" formControlName="fechaLimiteEdit" [ngModel]="this.metaAModificar.met_flimite | date:'dd/MM/yyyy'">
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma2.controls['fechaLimiteEdit'].errors?.['required'] && forma2.controls['fechaLimiteEdit'].touched">
                        La fecha límite es requerida.
                    </small>
                    <small  class="texto-validacion text-center"
                    *ngIf="forma2.controls['fechaLimiteEdit'].errors?.['fechaInvalida']">
                        La fecha debe ser mayor a la fecha de hoy.
                    </small>
                    
				</div>

                <div class="container-login100-form-btn">
                    <button class="btn btn-light btn-lg action-button btngreen btn-msjdark btn-act">
                        Actualizar
                    </button>
                </div>
                <div class="container-login100-form-btn">
                    <button class="btn btn-light btn-lg action-button btngreen btn-msjlight btn-act" (click)="preguntaEliminar()">
                        Eliminar
                    </button>
                </div>
			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="preguntaEliminarFlag==1 && muestraMetas==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<form>
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="4" y1="7" x2="20" y2="7" />
                                <line x1="10" y1="11" x2="10" y2="17" />
                                <line x1="14" y1="11" x2="14" y2="17" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">¿Estás seguro que quieres eliminar esta meta?</p>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <button class="btn btn-light btn-lg action-button btn-msjlight" (click)="eliminaMeta()">
                            Eliminar
                        </button>
                    </div><br>
                    <div>
                        <button class="btn btn-light btn-lg action-button btn-msjdark" (click)="cancela()">
                            Cancelar
                        </button>
                    </div>

				</div>

			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="muestraMensajeActFlag==1">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<form>
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="68" height="68" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M9 12l2 2l4 -4" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">Tu meta de ahorro ha sido actualizada.</p>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <button class="btn btn-light btn-lg action-button btn-msjdark" (click)="volveraMetas()">
                            Aceptar
                        </button>
                    </div>

				</div>

			</form>
		</div>
	</div>
</ng-template>

<!-- MONTOS -->

<ng-template [ngIf]="muestraMontosFlag==1" class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 text-center">
        <button class="btn-close mb-4" (click)="volveraMetas()"> </button> <br>
        <div class="card-titulo mb-4"> {{metaSeleccionada.met_nombre}} </div>

        <div class="card-titulo mt-4">ARS {{metaSeleccionada.met_monto | number: '1.2-2' }}</div>
        <div class="txt-green mb-4">Ahorros de Meta</div>

        <div class="mb-4" *ngIf="tieneMontosFlag==0">
            <p class="texto-mensaje-montos mt-2">Aún no tienes montos registrados para esta meta.</p>
        </div>

        <div *ngIf="tieneMontosFlag==1">
          <table class="table table-hover mt-4">
            <tbody>
              <tr *ngFor="let monto of arrMontos" (click)="editarMonto(monto)">
                <td scope="row">
                    <svg *ngIf=" monto.mmet_monto >= 0" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-wallet" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12" />
                        <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4" />
                    </svg>
                    <svg *ngIf=" monto.mmet_monto < 0" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-wallet" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FF0000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12" />
                        <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4" />
                    </svg>
                </td>
                <td [ngClass]="{'negativo': monto.mmet_monto < 0, 'positivo': monto.mmet_monto >= 0}">{{monto.mon_simbolo}} {{monto.mmet_monto | number: '1.2-2' }} </td>
                <td>{{monto.mmet_fcreacion | date: 'dd/MM/YYYY'}}</td>
              </tr>
          </table>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-outline-primary btn-agregar" (click)="cambiaAgregaMontoFlag()">Nuevo monto</button>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-outline-primary btn-retirar" (click)="haceRetiroFlag()">Retirar monto</button>
        </div>

      </div>
    </div>
</ng-template>

<ng-template class="limiter" [ngIf]="agregaMontoFlag==1 && muestraMensajeFlag==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <button class="btn-close mb-4" (click)="volverAMontos()"> </button> <br><br>
            <div class="titulo-nuevameta mb-4">Nuevo Monto</div>
			<form [formGroup]="formaMonto" (ngSubmit)="crearMonto()">
				<div class="login100-form validate-form text-center mt-3">
				
                    <div class="wrap-input100 modal-celda2 my-2">
                        <input type="number" name="montoMonto" placeholder="Monto ahorrado" formControlName="montoMonto" >
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="formaMonto.controls['montoMonto'].errors?.['required'] && formaMonto.controls['montoMonto'].touched">
                        El monto es requerido.
                    </small>
                    <small  class="texto-validacion text-center" *ngIf="mensajeValidaMonto != ''">
                        {{mensajeValidaMonto}}
                    </small>

                    <div class="wrap-input100 modal-celda4 my-2">
                        <input type="text" name="fechaMonto" placeholder="Fecha del monto ahorrado" onfocus="(this.type='date')" formControlName="fechaMonto">
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="formaMonto.controls['fechaMonto'].errors?.['required'] && formaMonto.controls['fechaMonto'].touched">
                        La fecha del monto es requerida.
                    </small>
				</div>

                <div class="container-login100-form-btn">
                    <button class="btn btn-light btn-lg action-button btngreen" [disabled]="formaMonto.invalid">
                        Aceptar
                    </button>
                </div>
			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="muestraMensajeMontoFlag==1 && muestraMsjMetaAlcanzadaFlag==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<form>
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="68" height="68" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M9 12l2 2l4 -4" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">Has añadido un nuevo monto a tu meta de ahorro.</p>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <button class="btn btn-light btn-lg action-button btn-msjlight" (click)="volveraMetas()">
                            Volver a mis metas
                        </button>
                    </div>

				</div>

			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="editaMontoFlag==1 && muestraMetas==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <button class="btn-close mb-4" (click)="volverAMontosDesdeEditar()"> </button> <br><br>
            <div class="titulo-nuevameta mb-4">Editar Monto</div>
			<form [formGroup]="formaMonto" (ngSubmit)="actualizarMonto()">
				<div class="login100-form validate-form text-center mt-3">

                    <div class="wrap-input100 modal-celda2 my-2">
                        <input type="number" name="montoMonto" placeholder="Monto ahorrado" [(ngModel)]="montoAModificar.mmet_monto" formControlName="montoMonto" >
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="formaMonto.controls['montoMonto'].errors?.['required'] && formaMonto.controls['montoMonto'].touched">
                        El monto es requerido.
                    </small>

                    <div class="wrap-input100 modal-celda4 my-2">
                        <input type="text" name="fechaMonto" placeholder="Fecha del monto ahorrado" onfocus="(this.type='date')" [ngModel]="this.montoAModificar.mmet_fcreacion | date:'dd/MM/yyyy'" formControlName="fechaMonto">
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="formaMonto.controls['fechaMonto'].errors?.['required'] && formaMonto.controls['fechaMonto'].touched">
                        La fecha del monto es requerida.
                    </small>
				</div>

                <div class="container-login100-form-btn">
                    <button class="btn btn-light btn-lg action-button btngreen btn-msjdark btn-act" (click)="muestraMensajeActOkMontos()" [disabled]="formaMonto.invalid">
                        Actualizar
                    </button>
                </div>
                <div class="container-login100-form-btn">
                    <button class="btn btn-light btn-lg action-button btngreen btn-msjlight btn-act" (click)="preguntaEliminarMonto()">
                        Eliminar
                    </button>
                </div>
			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="preguntaEliminarMontoFlag==1 && muestraMetas==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<form>
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="4" y1="7" x2="20" y2="7" />
                                <line x1="10" y1="11" x2="10" y2="17" />
                                <line x1="14" y1="11" x2="14" y2="17" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">¿Estás seguro que quieres eliminar este monto?</p>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <button class="btn btn-light btn-lg action-button btn-msjlight" (click)="eliminaMonto()">
                            Eliminar
                        </button>
                    </div><br>
                    <div>
                        <button class="btn btn-light btn-lg action-button btn-msjdark" (click)="cancelaMonto()">
                            Cancelar
                        </button>
                    </div>

				</div>

			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="muestraMensajeActMontoFlag==1">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<form>
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="68" height="68" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M9 12l2 2l4 -4" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">Tu monto ha sido actualizado correctamente.</p>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <button class="btn btn-light btn-lg action-button btn-msjdark" (click)="volveraMetas()">
                            Aceptar
                        </button>
                    </div>

				</div>

			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="retiraMontoFlag==1 && muestraMensajeFlag==0">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <button class="btn-close mb-4" (click)="volverAMontos()"> </button> <br><br>
            <div class="titulo-nuevameta txt-rojo mb-4">Retirar Monto</div>
			<form [formGroup]="formaMonto" (ngSubmit)="retirarMonto()">
				<div class="login100-form validate-form text-center mt-3">

                    <div class="wrap-input100 modal-celda2 my-2">
                        <input type="number" name="montoRet" placeholder="Monto a retirar" formControlName="montoMonto" >
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="formaMonto.controls['montoMonto'].errors?.['required'] && formaMonto.controls['montoMonto'].touched">
                        El monto es requerido.
                    </small>

                    <div class="wrap-input100 modal-celda4 my-2">
                        <input type="text" name="fechaMonto" placeholder="Fecha del retiro" onfocus="(this.type='date')" formControlName="fechaMonto">
                    </div>
                    <small  class="texto-validacion text-center"
                    *ngIf="formaMonto.controls['fechaMonto'].errors?.['required'] && formaMonto.controls['fechaMonto'].touched">
                        La fecha del monto es requerida.
                    </small>
				</div>

                <div class="container-login100-form-btn">
                    <button class="btn btn-light btn-lg action-button btn-retirar-listo" [disabled]="formaMonto.invalid">
                        Aceptar
                    </button>
                </div>
			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="muestraMensajeMontoRetFlag==1">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<form>
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="68" height="68" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M9 12l2 2l4 -4" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">Has retirado correctamente un monto de tu meta de ahorro.</p>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <button class="btn btn-light btn-lg action-button btn-msjlight" (click)="volveraMetas()">
                            Volver a mis metas
                        </button>
                    </div>

				</div>

			</form>
		</div>
	</div>
</ng-template>

<ng-template class="limiter" [ngIf]="muestraMsjMetaAlcanzadaFlag==1">
	<div class="container-login100">
		<div class="wrap-login100 text-center">
            <div class="titulo-nuevameta mb-4"> </div>
			<form>
				<div class="login100-form validate-form text-center mt-3">
					<div class="wrap-input100">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="68" height="68" viewBox="0 0 24 24" stroke-width="2" stroke="#419f3e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <path d="M9 12l2 2l4 -4" />
                            </svg>
                        </div>
                        <div class="mb-4">
                            <p class="texto-mensaje mt-2">¡Felicidades!<br> Has alcanzado tu meta.</p>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        <button class="btn btn-light btn-lg action-button btn-msjlight" (click)="volveraMetas()">
                            Volver a mis metas
                        </button>
                    </div>

				</div>

			</form>
		</div>
	</div>
</ng-template>
