*{
    font-family: 'Poppins', sans-serif;
}

.titulo{
    color: #419f3e;
    font-size: 45px;
    font-weight: 630;
    letter-spacing: 2px;
}

// .grid-metas {
//     justify-content: space-between;
//     margin-left: 80px;
//     margin-right: 80px;
// }

// .encabezado{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     background-color: #b87be4;
//     color: white;
//     font-size: 120%;
//     font-weight: 500;
//     line-height: 2.5;
// }

// .contenido{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     background-color: #e8e2ec;
//     color: black;
//     font-size: 110%;
//     font-weight: 400;
//     line-height: 2.5;
// }

.btn-agregar{
    border-color:#419f3e;
    color: #419f3e;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-top: 4rem;
}

.btn-agregar:hover{
    background-color:#419f3e;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.modal-encabezado{
    background-color:#b96af2;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 130px auto);
}

.modal-encabezado-titulo{
    font-size: large;
    font-weight: 160%;
}

.modal-contenedor{
    padding: 2rem 3rem 2rem 3rem;
    margin: 2px;
}

input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display: inline;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}

.btn-close{
    background-color: transparent;
    color: white;
    float: left;
}

.btn-modal{
    background-color:#b96af2;
    color: white;
    font-size: 17px;
    border-radius: 25px
}

.btn-modal:hover{
    background-color:#419f3e;
}

.grid-campos{
    display: grid;
    grid-template-columns: (2, 1fr);
}

.modal-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
    grid-auto-rows: minmax(15px, auto);
}

.modal-celda1{
    grid-column: 1;
    grid-row: 1;
}

.modal-celda2{
    grid-column: 2;
    grid-row: 1;
    line-height: 1;
}

.modal-celda3{
    grid-column: 1/2;
    grid-row: 2;
}

.modal-celda4{
    grid-column: 1/2;
    grid-row: 3;
}

.modal-celda1 select{
    max-width: 70px;
}

.modal-input-w input{
    width: 100%;
}

/*NUEVO DISENO*/

body {
    font-family: 'Montserrat', sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    margin-left: 3% !important;
    margin-right: 3% !important;
    padding: 0 !important;
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #5abb57d0;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: white;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    
    @media (min-width: 480px) and (max-width: 768px) {

      .btn{
        margin-bottom: 4px;
      }
        
      .table-header {
        display: none;
      }
      .table-row{
        
      }

      li {
        display: block;
      }

      .col {
        flex-basis: 100%;
      }

      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }

      .col-1, .col-2, .col-3, .col-4{
        width: 100% !important;
      }
    }
  }