*{
  font-family: 'Poppins', sans-serif;
}

.titulo{
  color: #419f3e;
  font-size: 45px;
  font-weight: 630;
  letter-spacing: 2px;
}

.btn-agregar{
  border-color:#419f3e;
  color: #419f3e;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 4rem;
}

.btn-agregar:hover{
  background-color:#419f3e;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

select{
  border:none;
  color: #757575;
  font-size:16px;
  padding:10px 10px 10px 5px;
  background-color: transparent;
  text-align: center;
}

input{
  font-size:16px;
  padding:10px 10px 10px 5px;
  display: inline;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

.btn-close{
  background-color: transparent;
  color: white;
  float: left;
}

/*NUEVO DISENO*/

  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }

  .responsive-table {
    margin-left: 3% !important;
    margin-right: 3% !important;
    padding: 0 !important;
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #5abb57d0;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: white;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 15.6%;
    }
    .col-2 {
      flex-basis: 15.6%;
    }
    .col-3 {
      flex-basis: 15.6%;
    }
    .col-4 {
      flex-basis: 15.6%;
    }
    .col-5{
      flex-basis: 15.6%;
    }
    .col-6{
      flex-basis: 15.6%;
    }
    .col-7{
      flex-basis: 6%;
    }

    .col{
      display: flex;
      align-items: center;
    }

    @media (min-width: 480px) and (max-width: 768px) {

      .btn{
        margin-bottom: 4px;
      }

      .table-header {
        display: none;
      }

      //.table-row{

      //}

      li {
        display: block;
      }

      .col {
        flex-basis: 100%;
      }

      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: center;
        }
      }

      .col-1, .col-2, .col-3, .col-4, .col-5{
        width: 100% ;
      }
    }
  }

/* AGREGA META */
.titulo-nuevameta{
  color: #419f3e;
  font-size: 35px;
  font-weight: 630;
  letter-spacing: 2px;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 40px 33px 40px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

.btngreen{
  background-color: #419f3e;
  color: white;
  font-size: 15px;
  border-radius: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 10px;
  width: 40%;
  left: 10%;
  position: relative;
  left: 30%;
  margin-top: 10px;
}

.btn-act{
  position: relative;
  left: 0%;
}

.btn-msjlight{
  border-color:#419f3e;
  background-color: transparent;
  color: #419f3e;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 450;
  border-radius: 25px;
  /*margin-bottom: 10px;
  margin-top: 4rem;*/
}

.btn-msjdark{
  background-color:#419f3e;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  /*margin-bottom: 10px;
  margin-top: 4rem;*/
}

.texto-mensaje{
  font-size: 18px;
}

.btn-editar:hover{
  cursor: pointer;
  color:red !important;
}

.texto-validacion{
  color: red;
}

.table-row:hover{
  cursor: pointer;
  background-color: #fafafa !important;
}

/* MONTOS */
.card-titulo{
  color: #419f3e;
  font-size: 27px;
  font-weight: 530;
  //letter-spacing: 1px;
  margin-bottom: 1rem;
}

.txt-green{
  color:#1c6a1ab9;
  font-size: 17px;
}

.table-hover{
  cursor: pointer;
}

/* RETIRO MONTOS */

.btn-retirar{
  border-color:rgba(255, 0, 0, 0.903);
  color: rgba(255, 0, 0, 0.903);
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.btn-retirar:hover{
  background-color:rgba(255, 0, 0, 0.903);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.txt-rojo{
  color: rgba(255, 0, 0, 0.903);
}

.btn-retirar-listo{
  border-color:rgba(255, 0, 0, 0.903);
  background-color:rgba(255, 0, 0, 0.903);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.select-finper-default {
  font-size: 17px;
  padding: 5px 5px 5px 5px;
  display: inline;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
  color: #5c5c5c;
  margin-bottom: 10px;
}